{% extends 'userheader.html' %}

<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUROWN</title>

    <link rel="stylesheet" href="static/css/about.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body id="main-body">
<div class="main">



<!--Navbar end-->


<!--About start-->
<div class="main">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="position: relative;">
      <div class="carousel-item active">
        <img src="static/upload/about-2.jpg" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item">
        <img src="static/upload/sec4-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/upload/about-1.jpg" class="d-block w-100" alt="...">
      </div>

    </div>
    <div class="text">
      <h1>Hello! Welcome to <i>YOUR OWN</i> Fashion</h1>
      <p>To Know AboutUs</p>
      <a href="https://youtu.be/s_V8xGYWqSs?si=hEpny5thGehw6LVW"><button>Watch Now</button></a>

    </div>
  </div>


  <section class="virat">
    <div class="row">
      <div class="vir-col1">
      <img src="https://assets.vogue.in/photos/6516b4078355824ec8f6b8fa/3:4/w_2240,c_limit/337178060_909730700263210_7587554908137164166_n%20(3).jpg" alt="" style="width: 100%; height: 100%;">
    </div>
    <div class="vir-col2">
      <h6>VIRAT & ANUSKHA</h6>

      <h1>The top celebrities About Our Collections</h1>
      <br><br>
      <p>"Absolutely loving Your Own Fashion! Their designs are chic, their quality is top-notch, and their customer service is exceptional. A definite favorite in my wardrobe! ⭐⭐⭐⭐⭐"</p>
    </div>
    </div>
  </section>

  <hr id="hr1">
  <h2 id="hrc"  onmousedown="mDown(this)" onmouseup="mUp(this)">Click Me!</h2>
  <hr id="hr1">

  <div class="history" >
    <p>Welcome to the story of our fashion journey. We're excited to share with you the rich history and evolution of our organization, which has been driven by passion, creativity, and a commitment to style.
    Our journey began with a spark of inspiration and the vision to make a mark in the fashion world. A group of like-minded individuals came together, united by their love for fashion and a desire to create something extraordinary. It was in these early days that our foundation was laid, and the seeds of our organization were sown.
    We want to express our sincere gratitude for your interest in our organization's journey. We invite you to explore our fashion offerings, follow us on our social media platforms, and join us on this remarkable journey as we continue to evolve and innovate in the world of fashion. Thank you for being a part of our story.</p>
  </div>

  <div class="team">
    <h1> "ABOUT  </h1>
    <img src="static/upload/about-me.jpg" alt="">
    <h2> ME"</h2>
    <h3>NICE TO MEET YOU,</h3>
    <h4>I'M TEJ.</h4>
  </div><br><br>

  <h1 id="testhead">Our Employees</h1>
  <div class="wrapper">
    <div class="testimonial-container" id="testimonial-container"></div>
    <button id="prev">&lt;</button>
    <button id="next">&gt;</button>
  </div>
  <br><br><br>











  <h1 id="maphead">You Can find Us on Google Map</h1>

<div id="googleMap" style="width:100%;height:400px;margin-bottom: 50px;" >
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124403.49070148471!2d77.50817561679453!3d12.996836487168654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15645b9aff37%3A0x4b4e4a304670eb0a!2sWYO%20Wear%20Your%20Opinion%20-%20Custom%20Printed%20T-shirts%20%26%20other%20Apparels%20in%20just%2010%20mins!5e0!3m2!1sen!2sin!4v1698942376971!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



</div>
<!--About end-->



<!--Footer start-->


</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>



<script src="static/js/about.js"></script>
</body>

{% endblock %}
</html>