{% extends 'userheader.html' %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUROWN</title>

    <link rel="stylesheet" href="/static/css/cartstyle.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body id="main-body">
<div class="main">



<br>

<!-- cart strat -->
<header>
    <input type="text" id="searchInput" placeholder="Let me know what you want....">
    <select id="category">
        <option value="all">All</option>
        <option value="shirts">Shirts</option>
        <option value="pants">Pants</option>
        <option value="jackets">Suits</option>
        <option value="tshirts">Tshirts</option>
    </select>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas" aria-labelledby="cartOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cartOffcanvasLabel">Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="cartItems">
            <!-- Cart items will be displayed here -->
        </ul>
        <!-- cart content displays here -->


        <div class="final-total">
          <p><b>Final Total:</b> $<span id="final-total-amount">0.00</span></p>
      </div>
        <!-- <div class="ftotal">
          <div class="ftotal-title">Over All Total</div>
          <div class="ftotal-price">Rs.0</div>
        </div> -->
        <button id="checkout">Checkout</button>
    </div>
</div>
<main>
  <section class="products">
      <!-- Product cards will be dynamically generated here -->
  </section>
</main>

<!-- cart end -->

<!--Footer start-->
<footer>
  <div class="s1">
    <div class="personal">
      <p>tejteja54321@gmail.com <br>
        +91 7702080490</p>
    </div>
    <div class="location" >
      <i class="fa-solid fa-location-dot"></i>
      <a href="29, 18, 17th E Main Rd, 5th Block, Jedara Halli, Rajajinagar, Bengaluru, Karnataka 560010">29, 18, 17th E Main Rd,<br> 5th Block, Jedara Halli, <br>Rajajinagar, Bengaluru, Karnataka 560010</a>
      </div>
      <div class="social text-light">
        <a href="https://www.instagram.com/rey__tej/"><i class="fa-brands fa-instagram me-2" style="font-size: 30px"> </i> Instagram</a>
        <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp me-2" style="font-size: 30px"></i> whatsapp</a>
        <a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter me-2" style="font-size: 30px"></i>Twitter</a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook me-2" style="font-size: 30px"></i>Facebook</a>
        </div>
    </div>


  <div class="s2">
    <div class="copy-right " id="copy-right">
      <p>© 2023 Condé Nast. All rights reserved.</p>
  </div>
  </div>
</footer>

<script src="static/js/shoppingbag.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</div>
</body>
{% endblock %}
</html>